html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table__caption {
    font-size: larger;
    font-weight: bolder;
}

.table__cell {
    color: rgb(62, 23, 1);
    border: 1px solid #818181;
    background-color: #fff0cf;
    padding: 20px;
    text-align: center;
}

.table__cell--header {
    color: rgb(62, 23, 1);
    background-color: rgb(236, 203, 93);
    font-weight: normal;
}